.DS_Store
._.DS_Store
.classpath
.project
.settings/*
.idea/*
.idea
*mwb
*mwb.bak
#Maven target
target/*
transaction-logs/*
*.jar
*.war
*.ear
*.log
*.iml
*.class
*.lib
face/images/*
!face/images/*.jpg
!face/images/*.png
megvii
asf_install.dat
.asf_install.dat
freesdk_*.dat
/arcsoft/
.mvn/
mvnw
mvnw.cmd
